# web server
# https://pypi.org/project/Flask/
Flask
# Mediawiki and SMW API
# https://pypi.org/project/py-3rdparty-mediawiki/
py-3rdparty-mediawiki>=0.0.8
# https://phabricator.wikimedia.org/T171886
# https://pypi.org/project/pywikibot/
pywikibot==3.0.20200306
#https://pypi.org/project/pycrypto/
pycrypto
