{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% block content %}
    <form action="/generate/{{ siteName }}"  method="post" class="form" enctype="multipart/form-data" role="form">
    {{ formTable4DictList(dictList) }}
    </form>
{% endblock %}
{% block scripts %}
    {{ super() }}
    {{ loadDataTable() }}
    {{ activateDataTable() }}
{% endblock %}

{# table for dict list #}
{% macro formTable4DictList(dictList) -%}
<table  class="table table-bordered table-hover">
  <!-- table header -->
  {% if dictList %}
  <thead class="thead-light">
  	<tr>
  		<th>#</th>
    	{% for key in dictList[0] %}
    	<th> {{ key }} </th>
    	{% endfor %}
 	</tr>
  <thead>
  <tbody>
    <!-- table rows -->
    {% for dict_item in dictList %}
        <tr>
           <td> {{loop.index}} </td>
           {% for key, value in dict_item.items() %}
           <td>
                {% if key == "Topic" %}
                    {{ value.label }}{{ value|safe }}
                {% else %}
                    {{ value|safe }}
                {% endif %}
           </td>
           {% endfor %}
        </tr>
    {% endfor %}
  </tbody>
  {% endif %}
</table>
{%- endmacro %}

{% macro loadDataTable() -%}
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
{%- endmacro %}
{% macro activateDataTable() -%}
    <script type="text/javascript">
    $(document).ready(function() {
    	$('.table').DataTable({
		    buttons: [
		        'copy', 'excel', 'pdf'
		    ]
		});
	});
    </script>
{%- endmacro %}
{% macro addFormTags(siteName, formNames) %}
{% for name in formNames %}
    <form action="/generate/{{ siteName }}" id="{{ name }}" method="post" class="form" enctype="multipart/form-data" role="form"></form>
{% endfor %}
{% endmacro %}
