{% extends 'base.html' %}
{% block styles %}
	{{ super() }}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.1.0/reveal.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.1.0/theme/solarized.css"
		id="theme" />

	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/atelier-cave-light.min.css"
		integrity="sha512-fNprY9f5BGeuC3KYaGc0+fAke3ZIFpsUXTMsqg2Bi2c7F/ktzTnutNkzNmq3izYkr2ke+/pyBpNsZbk1tA9OZw=="
		crossorigin="anonymous" />
{% endblock %}
{% block content %}
	<div class='reveal'>
		<div class="slides">
   {% if content is not none %}{{ content|safe }}{%endif %}
   		</div>
   </div>
   {% if error is not none %}<span style="color:red">Error: {{ error }}</span>{%endif %}
{% endblock %}
{% block scripts %}
{{ super() }}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.1.0/reveal.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.1.0/plugin/markdown/markdown.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.1.0/plugin/math/math.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.1.0/plugin/notes/notes.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/4.1.0/plugin/highlight/highlight.js"></script>

	<script>
		Reveal.initialize({
			controls: true,
			progress: true,
			history: true,
			center: true,

			// IMPORTANT: The order matters!
			// So, RevealHightlight must be the LAST to load
			plugins: [RevealMarkdown, RevealMath, RevealNotes, RevealHighlight]
		});
	</script>
{% endblock %}